section.farplane h2 + p{
    font-size: 1.2rem;
    margin-top: 10px;
}
section.farplane > h3{

}
section.farplane > ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 500px;
    margin: 20px auto;
    margin-top: 0;
    transition: 0.2s;
}
section.farplane li{
    background-color: #50453f;
    border-radius: 2px;
    padding: 10px;
    font-size: 0.8rem;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}
section.farplane > ul h3{
    transition: 0.2s;
    margin-top: 0;
}
section.farplane > ul li p{
    transition: 0.2s;
    cursor: default;
}

#today_bonus{

    margin-bottom: 20px;
    margin-top: 20px;
}
#today_bonus h2{
    margin-bottom: 20px;
}
#today_bonus p{
    padding: 30px 40px;
    margin: auto;
    width: max-content;
    border-radius: 2px;

    background-color: #50453f;
    box-shadow: 0 4px 4px rgba(0,0,0,0.4);
}
div#today_bonus h2 + div{
    display: inline-flex;
}
div#today_bonus h2 + div > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-left: 5px;
    }
