@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Lora", Arial, Helvetica, sans-serif ;
    background: rgb(83,67,51);
    background: radial-gradient(circle, rgba(83,67,51,1) 0%, rgba(66,50,35,1) 82%, rgba(31,22,15,1) 100%);
}
h1{
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
}
h2{
    font-size: 1.4rem;
    font-weight: 300;

    text-transform: uppercase;

    margin-bottom: 20px;
}
h3{
    font-size: 1rem;
    font-weight: 400;
    margin: 10px 0;
}
ul{
    list-style: none;
}

main{
    width: 520px;
    margin: auto;
}

section{
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    border: 1px solid #efefef;
    margin: 0 40px;

    
    background-color: #eee;
    border: 1px solid #ccc;
    margin: auto;
    padding: 10px 20px;
}

.content{
    display: grid;
    grid-template-columns: 4fr 1fr;

    margin-top: 40px;
}

.small-info{
    color: #888;
    font-size: 0.8em;
    font-style: italic;
}




